<!DOCTYPE html>
<html ng-app="dvbApp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="oli.css">
</head>
<body ng-controller="IndexController as index">
    <table>
        <tr>
            <td><label>Freq (Hz)</label></td>
            <td><label>SymbolRate (/s)</label></td>
            <td><label>Modulation</label></td>
            <td><button ng-click="index.startOver()">Start over</button></td>
        </tr>
        <tr>
            <td><input type="number" ng-model="index.tuneParams.frequency"></td>
            <td><input type="number" ng-model="index.tuneParams.symbol_rate"></td>
            <td>
                <select ng-model="index.tuneParams.modulation">
                    <option value="QAM_64">QAM_64</option>
                    <option>QAM_256</option>
                </select>
            </td>
            <td><button ng-click="index.stopFrontend()">Stop frontend</button></td>
            <td><button ng-click="index.tune()">Tune</button> {{index.tuneResponse}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Service ID</th>
            <th>Name</th>
            <th>Stream-Infos</th>
        </tr>
        <tr ng-repeat="pmt in index.pmtList">
            <td>{{pmt.service_id}}</td>
            <td>{{pmt.serviceDescriptor.service_name}}</td>
            <td>
                <div ng-repeat="si in pmt.siList">
                    <a ng-href="teletext.html#{{si.elementary_PID}}" target="_blank">
                        {{si.stream_identifier}} {{si.stream_type_txt}}
                        <b ng-show="si.teletextInitialPage">Teletext</b>
                        <b ng-show="si.stream_type==3">MP2 Audio</b>
                    </a>
                </div>
            </td>
        </tr>
    </table>


    <table>
        <tr ng-repeat="ei4s in index.events">
            <td style="position:relative; z-index:1; background-color:#EEE">{{ei4s.serviceDescriptor.service_name}}</td>
            <td style="position:relative; width:100%;">
                <div ng-repeat="ei in ei4s.eiList" style="z-index:-1; white-space:nowrap; overflow:hidden; display:inline-block; width:{{ei.width}}px; position:absolute; top:0; left:{{ei.xpos}}px;">
                    I
                </div>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Network</th>
            <th>TS-ID</th>
            <th>Freq</th>
            <th>Services</th>
        </tr>
        <tr ng-repeat="ts in index.transportStreams" ng-class="ts.clazz">
            <td>{{ts.network_id}}</td>
            <td><a href="" ng-click="index.tuneTs(ts)">{{ts.transport_stream_id}}</a></td>
            <td title="{{ts.symbol_rate/1000.0}} {{ts.modulation}}">{{ts.frequency/1000/1000.0}}</td>
            <td>
                <div style="display: inline-block; min-width:300pt" ng-repeat="s in ts.services">
                    <a href="">
<!--                        <span ng-show="s.logicalChannelNumber.visible_service_flag">{{s.logicalChannelNumber.logical_channel_number}}:</span>-->
<!--                        <span ng-show="!s.logicalChannelNumber.visible_service_flag">not visible:</span>-->

                        <span ng-show="s.serviceDescriptor.free_CA_mode" style="color:#A00">CA</span>
                        <span ng-show="!s.serviceDescriptor.free_CA_mode" style="color:#0A0">FTA</span>
                        <span style="color:#888">{{s.service_type_txt}} {{s.service_id}}</span>
                        <b>{{s.serviceDescriptor.service_name}}</b>
                        <span ng-switch="s.serviceDescriptor.running_status">
                            <i ng-switch-when="0" style="color:#A00">undef</i>
                            <i ng-switch-when="1" style="color:#A00">no run</i>
                            <i ng-switch-when="2" style="color:#0A0">soon</i>
                            <i ng-switch-when="3" style="color:#0A0">pause</i>
                            <i ng-switch-when="4" style="color:#0A0"></i>
                            <i ng-switch-default>?</i>
                        </span>
                    </a>
                    &nbsp;
                </div>
            </td>
        </tr>
    </table>
</body>
</html>